a:visited
{
  color:#000;
}
.header
{
   background-color:#06263c;
   color:#FFF;
}
.form-entry
{
  background-color: #EFEFEF;
}
.field300
{	
	width:300px;
}
.label150
{
   width:150px;
   clear:right;
   display:inline-block;
   margin:.2em;
}

div.form-entry
{
  border:1px solid #CCC;
  margin:1em;
  padding:1em;
}